{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block title %}The Savanna Wave-{{ post.title }}{% endblock %} {% block meta_description %}{{ post.body|slice:":200"|safe }}{% endblock meta_description%} {% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-post-content">
                        <h2 class="post-title">{{ post.title|slice:":70"|safe }}...</h2>
                        <div class="post-meta">
                            <a href="#" style="text-decoration: none;"><i class="fa fa-calendar" aria-hidden="true"></i>
                                {{ post.created_on.date }}</a>
                            <a href="#" style="text-decoration: none;"><i class="fa fa-user" aria-hidden="true"></i>
                                {{ post.author }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<div class="container alert-success">
    <marquee behavior="scroll" direction="left">
        <p style="white-space: nowrap;" class="text-danger"><span class="text-dark">Trending Music:</span>
            {% for new in trend_music %}&blacktriangle;{{ new.song_title }}-{{ new.artist_name }}&emsp; {% endfor %}</p>
    </marquee>
</div>

<!-- Blog Area Start -->
<div class="roberto-news-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Post Thumbnail -->
                <div class="post-thumbnail mb-50">
                    <img src="{{ post.blog_img.url }}" alt="">
                </div>
                <!-- Blog Details Text -->
                <div class="blog-details-text">
                    <p>{{ post.body | safe }}</p>
                </div>

                <!-- Post Author Area -->
                <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                    <ul class="">{% for cat in post.categories.all %}
                        <li>
                            <a href="{% url 'blog_category' cat.slug %}" class="nav-link text-capitalize">
                                <h4>{{ cat }}</h4>
                            </a>
                        </li>{% endfor %}
                    </ul>
                </div>

            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-4 py-5 section-padding-100-70">
                <div class="roberto-sidebar-area pl-md-4">
                    {% for ad in adverts %}
                    <div class="single-widget-area mb-100">
                        <div class="ad">
                            <img src="{{ ad.adv.url }}" alt="ad-image">
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-12 mb-4">
                        <h5>Trending <i class="fa fa-globe text-danger"></i></h5>
                    </div>
                    <!-- Recent Post -->
                    <!-- Single Recent Post -->
                    {% for post in trending %}

                    <div class="single-recent-post d-flex">
                        <!-- Thumb -->
                        <div class="post-thumb">
                            {% if post.blog_img %}
                            <a href="#"><img src="{{ post.blog_img.url }}" alt=""></a>
                            {% endif %}
                        </div>
                        <!-- Content -->
                        <div class="post-content">
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#" class="post-author">{{ post.created_on.date }}</a>
                                {% for cat in post.categories.all %}
                                <a href="{% url 'blog_category' cat.slug %}" class="post-tutorial"
                                    style="font-family: 'Archivo Narrow', sans-serif;">{{ cat.title }}</a> {% endfor %}
                            </div>
                            <a href="{% url 'article-detail' post.slug %}" class="post-title"
                                style="font-family: 'Poppins', sans-serif;">{{ post.title|slice:":40"|safe }}...</a>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="bg-info">

                    <div class="col-12 mb-4">
                        <h5>Latest <i class="fa fa-clock-o text-danger"></i></h5>
                    </div>
                    <!-- Recent Post -->
                    <!-- Single Recent Post -->
                    {% for post in latest %}

                    <div class="single-recent-post d-flex">
                        <!-- Thumb -->
                        <div class="post-thumb">
                            {% if post.blog_img %}
                            <a href="#"><img src="{{ post.blog_img.url }}" alt=""></a>
                            {% endif %}
                        </div>
                        <!-- Content -->
                        <div class="post-content">
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#" class="post-author">{{ post.created_on.date }}</a>
                                {% for cat in post.categories.all %}
                                <a href="{% url 'blog_category' cat.slug %}" class="post-tutorial"
                                    style="font-family: 'Archivo Narrow', sans-serif;">{{ cat.title }}</a> {% endfor %}
                            </div>
                            <a href="{% url 'article-detail' post.slug %}" class="post-title"
                                style="font-family: 'Poppins', sans-serif;">{{ post.title|slice:":40"|safe }}...</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->
{% endblock content %}